.cards {
  padding-top: .3em;
  margin-bottom: 2em;

  @include breakpoint-up(medium){
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 2.5em;
  }

}

.card {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, auto);
  margin-bottom: 1.8em;
  padding: 1.5em 2em;
  border-radius: .5em;
  background-color: white;
  box-shadow: 0 0.5em 0.75em 0.25em lighten($greyishBlue, 25);

  @include breakpoint-up(medium){
    height: 100%;
  }

}

.card__title {
  font-weight: 600;
  font-size: 1rem;
}

.card__text {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-size: 0.675rem;
}

.card__image {
  justify-self: end;
  height: 66%;
  width: auto;
  margin-top: 1.6em;
}

#card__supervisor {
  border-top: 3px solid $cyan;

  @include breakpoint-up(medium){
    grid-row: 2 / span 2;
  }

}

#card__team-builder {
  border-top: 3px solid $red;

  @include breakpoint-up(medium){
    grid-row: 1 / span 2;
    grid-column-start: 2;
  }

}

#card__karma {
  border-top: 3px solid $orange;

  @include breakpoint-up(medium){
    grid-row: 3 / span 2;
    grid-column-start: 2;
  }

}

#card__calculator {
  border-top: 3px solid $blue;

  @include breakpoint-up(medium){
    grid-row: 2 / span 2;
    grid-column-start: 3;
  }

}