html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  background-color: $veryLightGrey;
  font-family: 'Poppins', sans-serif;
  font-size: 0.75rem;
  line-height: 1.55;
  color: $veryDarkBlue;
}

h1, h2 {
  margin: 0;
}

.container {
  padding-left: 2em;
  padding-right: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
