header {
  margin-top: 6em;
  margin-bottom: 5em;
  text-align: center;
}

.header__subheader {
  font-weight: 300;
  font-size: 1.2rem;
}

.header__title {
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: -0.05em;
}

.header__intro {
  margin-top: 0.75em;
  text-align: center;
  line-height: 1.6;
}