header {
  margin-top: 5.5em;
  margin-bottom: 3em;
}

.header__subheader {
  font-weight: 300;
  font-size: 1.2rem;
}

.header__title {
  font-weight: 600;
  font-size: 1.3rem;
  letter-spacing: -0.05em;
}

.header__intro {
  text-align: center;
}